body {
  font-family: "Poppins", sans-serif;
  background-color: #171717;
  box-sizing: content-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 120px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: #e4b564 1px solid;
  padding: 10px 25px;
  min-width: 130px;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.works_section{
  margin-bottom: 160px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
}

.works_section_title {
  margin-bottom: 24px;
}

.desc {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.desc_special {
  font-weight: 700;
  text-transform: uppercase;
}

.works_section_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 28px;
  height: 968px;
  margin-top: 40px;
}

.clients_section_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 784px;
}

.clients_section_content_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px;
}

.clients_section_content_item_1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #634F2C;
}

.clients_section_content_item_2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgba(232, 210, 171, 0.76);
}

.clients_section_content_item_3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #E4B564;
}

.clients_section_content_item_4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #635A4A;
}

.clients_section_content_item_5 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #B08C4D;
}

.clients_section_content_item_6 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #634F2C;
}

.works_section_item_1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #634f2c;
}

.works_section_item_2 {
  grid-area: 1 / 3 / 2 / 5;
  background-color: #b4a385;
}

.works_section_item_3 {
  grid-area: 1 / 5 / 2 / 7;
  background-color: #e4b564;
}

.works_section_item_4 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 4;

  background-color: #635a4a;
}

.works_section_item_5 {
  grid-area: 2 / 4 / 3 / 7;
  background-color: #b08c4d;
}

.works_section_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.machines_section {
  margin-bottom: 190px;
}

.machines_section_content {
  display: flex;
  gap: 28px;
  margin-top: 64px;
}

.machines_section_content_column {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 33%;
}

.machines_section_content_item_1 {
  padding: 44px;
  height: 225px;
  background-color: #0E0E0E;
}

.machines_section_content_item_2 {
  padding: 44px;
  height: 472px;
  background-color: #1F1F1F;
}

.machines_section_content_item_3 {
  padding: 44px;
  height: 351px;
  background-color: #242424
}

.machines_section_content_item_4 {
  padding: 44px;
  height: 317px;
  background-color: #E4B564
}

.machines_section_content_item_5 {
  padding: 44px;
  height: 169px;
  background-color: #1F1F1F
}

.machines_section_content_item_6 {
  padding: 44px;
  height: 223px;
  background-color: #0E0E0E
}

.machines_section_content_item_7 {
  padding: 44px;
  height: 190px;
  background-color: #0A0909
}

.clients_section {
  background-color: #0E0E0E;
  padding-top: 160px;
  margin-bottom: 240px;
}

.clients_section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}






